body {
  direction: ltr;
  padding: 10px 15px 20px;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
  margin: @mTop @mRight @mBottom 20px;
}

.pos_left {
  position: absolute;
  left: 0;
  top: 0;
}

.pos_right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.nav {
  margin: 10px -5em 10% 8pt;
  padding: 3px -5em 3% 8pt;
}